/* ===============================
   Table
   =============================== */
th,
td {
    border: 1px solid #ccc;
    padding: 6px 8px;
    text-align: center;
}

th.border-none,
td.border-none {
    border: none;
}

td.delete-row,
td.delete-neighbor {
    cursor: pointer;
    color: red;
}

th:first-of-type,
td:first-of-type {
    border-right: none;
    padding-right: 4px;
}

th:nth-of-type(2),
td:nth-of-type(2) {
    border-left: none;
    padding-left: 4px;
}

tr.dragging {
    opacity: 0.5;
    background: #aaa;
}

td.seat-neighbor,
th.seat-neighbor {
    border: none;
    white-space: nowrap;
}

.lock i {
    cursor: pointer;
}

.lock.deactivate {
    color: #aaa;
}

.lock.deactivate i {
    cursor: default;
}

.firstName {
    width: 100px;
}

.lastName {
    width: 120px;
}