<div class="drag-element fixed-element" draggable="true">
    <span class="fixed-tools top">
        <span class="del non-drag-element" title="Löschen"><i class="fa-solid fa-xmark"></i></span>
        <span class="add non-drag-element" title="Duplizieren"><i class="fa-solid fa-clone"></i></span>
    </span>
    <div id="fixed-name" style="pointer-events:none;"></div>
    <span class="fixed-tools bottom">
        <span class="rot left non-drag-element" title="Rotieren (rechts)">&#8635;</span>
        <span class="rot right non-drag-element" title="Rotieren (links)">&#8634;</span>
    </span>
</div>