.fixed-element {
    background-color: var(--color-fix-bg);
    position: absolute;
    cursor: move;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    touch-action: none;
    transform-origin: center center;
    font-size: 12px;
}

.desk{
    width: 138px;
    height: 38px;
}

.board{
    width: 178px;
    height: 28px;
}

.door{
    width: 38px;
    height: 38px;
}

.window{
    width: 108px;
    height: 28px;
}

#fixed-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: small;
}

.del {
    position : absolute;
    right : 4px;
    cursor : pointer;
    font-weight : bold;
    color : rgba(255, 0, 0, 0.3);
}

.del:hover {
    color : rgba(255, 0, 0, 1)
}

.add {
    position : absolute;
    left : 4px;
    cursor : pointer;
    font-weight : bold;
    color : rgba(34, 155, 0, 0.3);
}

.add:hover {
    color : rgb(34, 155, 0, 1)
}

.rot {
    position : absolute;
    cursor : pointer;
    font-weight : bold;
    color : rgba(80, 80, 80, 0.3);
}

.rot:hover {
    color : rgb(80, 80, 80, 1)
}

.rot.left {
    left : 4px;
}

.rot.right {
    right : 4px;
}

@media (hover: none) and (pointer: coarse) {
    .del {
        color : rgba(255, 0, 0, 0.7);
    }
    .add {
        color : rgba(34, 155, 0, 0.7);
    }
    .rot {
        color : rgba(80, 80, 80, 0.7);
    }    
}

.fixed-tools {
    position: absolute;
    width: 100%;
    cursor: pointer;
}

.fixed-tools.top {
    top: 2px;
}

.fixed-tools.bottom {
    bottom: 2px;
    display: flex;
    align-items: flex-end;
}