/* Progressbar */
.progressbar .font-label-caps {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--color-slate-400);
}

.progressbar .progress-container {
    background-color: var(--color-secondary);
}

.progressbar .progress-bar {
    background-color: var(--color-primary);
    width: 0%;
    transition: width 0.3s ease;
}

/* Text */
.progressbar .progress-title {
    color: var(--color-font-black);
}