<div class="seat drag-element" draggable="true">
    <span class="seat-tools top">
        <span class="del non-drag-element" title="Löschen">&#215;</span>
        <span class="seat-nr" title="Sitzplatznummer"></span>
        <span class="add non-drag-element" title="Duplizieren">&#43;</span>
    </span>
    <div class="seat-name">
        <div class="seat-firstname"></div>
        <div class="seat-lastname"></div>
    </div>
    <span class="seat-tools bottom">
        <span class="rot left non-drag-element" title="Rotieren (rechts)">&#8635;</span>
        <span class="rot right non-drag-element" title="Rotieren (links)">&#8634;</span>
    </span>
</div>