<div class="seat" draggable="true">
    <span class="seat-tools top">
        <span class="del" title="Löschen">&#215;</span>
        <span class="add" title="Duplizieren">&#43;</span>
    </span>
    <div class="seat-name" style="pointer-events:none;">
        <div class="seat-firstname" style="pointer-events:none;"></div>
        <div class="seat-lastname" style="pointer-events:none;"></div>
    </div>
    <span class="seat-tools bottom">
        <span class="rot left" title="Rotieren (rechts)">&#8635;</span>
        <span class="rot right" title="Rotieren (links)">&#8634;</span>
    </span>
</div>